/*с чего начать-то?*/

.page {
    color: #AE7C78;
}

.logo {
    text-align: center;
}

.page-nav {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

li {
    list-style-type: none;
}

.main-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    white-space: pre-line;
}

.italic {
    font-style: italic;
}

p.desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.tulips {
    border-radius: 10px
}

.roses-with-cloves {}

a.button {
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.button.go-catalogue {}

.button.order {}

.visually-hidden {
    display: none;
}

.advantages-list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

h3.advantages-list {
    font-weight: 500;
}

.popular-product {
    font-family: Montserrat;
    font-style: normal;
}

h2.popular-product {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.catalogue {
    font-family: Playfair Display;
    font-style: normal;
}

.catalogue-item h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
}

.catalogue-item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.sale {
    background: #AE7C78;
    color: #FFFFFF;
}

.sale-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
}

.sale-desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.steps-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.steps-list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.news-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.news-desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.reviews {
    border: 1px solid #AE7C78;
}

.reviews-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
}

.reviews-list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.reviews cite {
    font-style: normal;
    font-weight: 500;
}

.contacts-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
}

.contacts-list p,
.contacts-list a,
.contacts-list span {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.contacts-list a,
.contacts-list span {
    font-weight: 500;
}

.footer-nav {
    background: #AE7C78;
}

.footer-logo {
    background: #FFFFFF;
    text-align: center;
}